@import '~antd/es/style/themes/default.less';

.clearfix() {
  zoom: 1;
  &::before,
  &::after {
    display: table;
    width: 100%;
    content: '';
  }
  &::after {
    clear: both;
  }
}

.reset-space {
  margin: 0; 
  padding: 0; 
}

.reset-space-border {
  margin: 0; 
  padding: 0; 
  border: 0;
}

.hide-fake {
  width: 0;
  height: 0;
  position: absolute;
  top: -9999px;
  right: -9999px;
  overflow: hidden;
  display: none;
}

@switch-prefix-cls: ~'antdv3-switch';
@switch-height: 28px;
@switch-width: 70px;
@switch-line-height: 11.5px;
@switch-font-size: 30px;
// small
@switch-small-height: 12px;
@switch-small-width: 20px;
@switch-small-line-height: 11.5px;
@switch-small-font-size: 30px;

.@{switch-prefix-cls} {
  position: relative;
  display: inline-flex;
  .clearfix;
  .reset-space-border;

  &-right-content {
    position: absolute;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    background: white;
    color: @primary-7;
    transform: translate3d(0, 0, 0);
    top: 1px;
    left: 1px;
    border-radius: 20px;
    width: 33px;
    line-height: 26px;
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
  }

  &-left-content {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    left: 32px;
    font-size: 10px;
    line-height: 28px;
    width: 33px;
    color: #fff;
    padding: 0 12px;
  }

  &-default {
    input[type="checkbox"] {
      .hide-fake;
  
      & + label {
        position: relative;
        user-select: none;
        display: inline-flex;
        width: @switch-width;
        height: @switch-height;
        border-radius: 20px;
        background: @primary-7;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
      }
  
      &:checked + label {
        .@{switch-prefix-cls}-right-content {
          transform: translate3d(35px, 0, 0);
        }
        .@{switch-prefix-cls}-left-content {
          transform: translate3d(-31px, 0, 0);
        }
      }
    }
  }

  &-small {
    input[type="checkbox"] {
      .hide-fake;
  
      & + label {
        user-select: none;
        line-height: @switch-small-height;
             
        &:before {
          content: '•';
          width: @switch-small-width;
          height: @switch-small-height;
          font-family: Arial, sans-serif;
          display: inline-block;
          transition: all 0.5s ease-in-out;
          text-align: left;
          font-size: @switch-small-font-size;
          line-height: @switch-small-line-height;
          overflow: hidden;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 20px;
          margin: auto 0;
          background: @primary-7;
          cursor: pointer;
        }
      }
  
      &:checked + label {
        &:before {
          text-align: right;
        }
      }
    }
  }

  &-disabled {
    input[type="checkbox"] {
      & + label {
        cursor: no-drop;
        &:before {
          background: #ccc;
          cursor: no-drop;
        }
      }
    }

    &.@{switch-prefix-cls}-default {
      input[type="checkbox"] {
        & + label {
          cursor: no-drop;
          background: #ccc;
          &:before {
            background: #ccc;
            cursor: no-drop;
          }
        }
      }
    }
    .@{switch-prefix-cls}-right-content {
      cursor: no-drop;
      color: #ccc;
    }
    .@{switch-prefix-cls}-left-content {
      cursor: no-drop;
    }
  }
}
